.deps
.dirstamp
/src/.libs
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/docs/Doxyfile
/docs/Makefile
/docs/Makefile.in
/docs/doxyfile.stamp
/docs/html/
/docs/latex/
/install-sh
/libtool
/ltmain.sh
/missing
/sangster_atmega328p-0.1.pc
/src/Makefile
/src/Makefile.in
/src/libsangster_atmega328p.a
*.o
