*.a
*.o
*.pc
.deps
.dirstamp
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
Doxyfile
doxyfile.stamp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing

autom4te.cache/
build-aux/
html/
latex/
.libs/
